.services {
    padding: rem(40) 0;
    &__body {
        margin: rem(30) 0 0;
    }
    &__favor {
        margin: 0 0 rem(24);
        & :last-child {
            margin: 0;
        }
    }
}
.favor {
    padding: rem(40) rem(20);
    border: 1px solid #e5e7e9;
    &__img {
        margin: 0 auto rem(36);
    }
    &__subtitle {
        margin: 0 0 rem(16);
    }
}
@media (min-width: 768px) {
    .services {
        padding: rem(80) 0;

        &__body {
            display: flex;
            justify-content: space-around;
            margin: rem(72) 0 0;
        }
        &__favor {
            flex-basis: 29%;
            margin: 0;
        }
    }
}